<% provide(:title, 'All financial instruments') %>
<h1>All financial instruments</h1>

<%= will_paginate %>

<ul class="instruments">
  <%= render @instruments %>
</ul>

<%= will_paginate %>

<%= link_to 'New Instrument', new_instrument_path %>
