<% provide(:title, 'My trades') %>
<h1>My trades</h1>

<%= will_paginate %>

<ul class="trades">

  <table border="1">
  <tr>
  <th>Trade ID</th>
  <th>Instrument</th>
  <th>Opening Date</th>
  <th>Time</th>
  <th>Shares/contracts</th>
  <th>Buy/Sell</th>
  <th>Price</th>
  <th>Closing Date</th>
  <th>Time</th>
  <th>Price</th>
  <th>Max Drawdown</th>
  <th>Trade PnL</th>
  </tr>

  <%= render @trades %>

  </table>  

</ul>

<%= will_paginate %>

<%= link_to 'Add a new trade', new_trade_path %>
