<footer class="footer">
  <small>
    <a href="http://www.trade-for-income.com/">www.trade-for-income.com</a>
    by Israel Garcia
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", 'about_path' %></li>
      <li><%= link_to "Contact", 'contact_path' %></li>
      <li><a href="http://www.facebook.com/israelgarciaonline">News</a></li>
    </ul>
  </nav>
</footer>

